/.idea/
*.tgz
*.test.ts
/yarn.lock
node_modules
/bash/
.env
prettier*
package.dev.json
jest*
/.husky/
/.idea/
/.vscode/
/.github/
.prettierignore
.nvmrc
/coverage/
/docs/
jsr.json
release.config.cjs
commitlint.config.cjs
eslint.config.js
index.html
tsconfig.json